
.title {
  color: blue;
  font-size: 2rem;
}

/* Apply to table, heading and data cells to set the borders */
.priceTable, th, td {
  border-style: solid;
  border-color: darkgray;
  border-width: 1px;
  border-collapse: collapse;
  margin-bottom: 15px;
}


/* Style the table body */
/* You can have thead, tbody and tfoot to explicitly provide */
/* semantic information and enable rows only in the body to scroll */
.priceTable td {
  padding: 10px;
  background-color: antiquewhite;
}

/* Style the table head */
.priceTable th {
  padding: 10px;
  background-color: lightgray;
}

#cbStyleId {
  margin-top: 25px;
  margin-bottom: 25px;
}

.thanks {
  font-size: 1.5rem;
  color: blue;
  font-weight: bold;
}